$color: rgb(0, 0, 0);
$darkgri: #1d2024;
$textcolor: #e0d6e3;
$borderinput: #707070;
$colorgradient: linear-gradient(to right, #3b5e1c 0%, #77bc38 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    input {
        background-color: #404149;
        border: 1px solid $borderinput;
        border-image: initial;
        outline: none;
        width: 187px;
        height: 32px;
        border-radius: 5px;
        color: white;
        padding: 4px;
    }
    label {
        color: $borderinput;
    }
}
body {
    // background-color: $color;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .popup {
        width: 443px;
        height: 525px;
        border-radius: 2px;
        background: #404149;
        align-items: center;

        h1 {
            font-family: "Segoe UI";
            font-weight: bold;
            font-size: 22px;
            text-align: left;
            color: #e0d6e3;
            margin: 20px;
        }
        &1 {
            display: flex;
            gap: 30px;
            margin-left: 20px;
        }

        .ref {
            width: 187px;
            height: 56px;
        }
        .namep {
            width: 187px;
            height: 56px;
            background: transparent;
        }
        &2 {
            display: flex;
            column-gap: 25px;
            width: 85%;
            margin: 11px 20px;
        }
        &2 > div {
            flex-grow: 1;
        }
        &2 input {
            width: 100%;
        }
        .description {
            margin: 12px 20px;
            textarea {
                resize: none;
                background-color: #404149;
                width: 380px;
                color: white;
                outline: none;
            }
        }
        .button {
            display: flex;
            justify-content: flex-end;
            gap: 12px;
            margin-right: 40px;
            margin-top: 20px;
            input {
                width: 169px;
                height: 34px;
                border-radius: 4px;
                background: -webkit-gradient(linear, left top, right top, from(#3b5e1c), to(#77bc38));
                background: linear-gradient(to right, #3b5e1c 0%, #77bc38 100%);
                margin-left: 0px;
                cursor: pointer;
                border-style: none;
                color:$color;
            }
            #cancel {
                width: 109px;
                height: 36px;
                border-radius: 4px;
                background: #2a2b31;
                color:$textcolor
            }
        }
    }

    // .price {
    //     width: 108px;
    //     height: 56px;
    //     background: transparent;
    // }
    // .quantite {
    //     width: 108px;
    //     height: 56px;
    //     background: transparent;
    // }
}

#Pimage {
    width: 193px;
    height: 129px;
    border: 2px dashed grey;
    border-radius: 15px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background: #2a2b31;
    right: 0;
}

#imgPlcHldr {
    opacity: 0;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 2px dashed grey;
    border-radius: 15px;
    background-color: transparent;
    background-position: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#output {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
