$color:white;


body {
    height: 100vh;
   
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
    }
    .popup {
        width: 430px;
        height: 145px;
        border-radius: 2px;
        background-color: #404149;
        h1{
            color: #E0D6E3;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 22;
            font-weight: bold;
            margin-left:20px;
        }
        &1 {
            gap: 11px;
            display: FLEX;
            justify-content: flex-end;
            margin-right: 20px;
            margin-top:35px;
            input {
                width: 169px;
                height: 34px;
                border-radius: 4px;
                background: -webkit-gradient(linear, left top, right top, from(#3b5e1c), to(#77bc38));
                background: linear-gradient(to right, #3b5e1c 0%, #77bc38 100%);
                margin-left: 0px;
                cursor: pointer;
                border-style: none;
                font-size: 14px;
               
            }
            #cancel {
                width: 109px;
                height: 36px;
                border-radius: 4px;
                background: #2a2b31;
                color: #E0D6E3;  
                font-size: 14px;
                
            }
            
       
    }
}
}
